.public-DraftStyleDefault-unorderedListItem
  position static

.rich-text-editor
  iframe
    &:not([width])
      width 100%
    &:not([height])
      height 300px
    &:not([frameborder])
      border 1px solid #ccc
  [contenteditable]
    outline: 0
